/*
Theme Name: wpExperts
Theme URI: https://7learn.com
Author: the 7learn team
Author URI: https://7learn.com
Description:  wp experts theme
Version: 1.0
Text Domain: wp_experts
*/
body {
    background: #eeeff1;
    padding: 0;
    margin: 0;
    height: 2000px;
    direction: rtl;
    overflow-x: hidden;
    font-family: Vazir;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

#top-bar {
    height: 30px;
    background: #FFFFFF;
    border-bottom: 1px solid #dddddd;
}

#header {
    height: 200px;
    border-bottom: 1px solid #DDDDDD;
}

#top-menu,#top-menu-store {
    height: 40px;
    background: #FFFFFF;
}
#top-menu-store{
    height: 60px;
}

#wrapper {
    width: 100%;
    padding: 10px 0;
}

#content-wrap {
    width: 65%;
    float: right;
    min-height: 200px;
    padding: 10px;

}

.post, .widget {
    box-shadow: 0px 1px 10px #f1f1f1;
    margin-bottom: 20px;
    float: right;
    width: 100%;
    background: #FFFFFF;
}

.post-title {
    border-bottom: 1px solid #DDDDDD;
    padding: 5px 10px;
    font-family: Vazir;
    font-size: 14px;
    margin: 0;
}

.post-title a {
    text-decoration: none;
    color: #2c2c2c;
}

.post-more {
    font-family: Vazir;
    font-size: 10px;
    color: #00A8EF;
    text-decoration: none;
    float: left;
    padding: 10px;
}

.post-details {
    clear: both;
}

.post-excerpt {
    padding: 15px;
    font-family: Vazir;
    font-size: 10px;
    line-height: 1.8;
}

#sidebar-wrap {
    width: 30%;
    float: right;
    padding: 10px;
}

.widget-title {
    margin: 0;
    border-bottom: 1px solid #DDDDDD;
    padding: 5px 10px;
}

.widget {
    text-align: center;
}

.calendar_wrap {
    display: inline-block;
}

#store-wrapper {
    float: right;
    width: 100%;
    margin-top: 20px;
    padding: 50px;
}

.product-item {
    float: right;
    margin: 0 0 10px 10px;
    /*width: 33.33%;*/
    background: #ffffff;
    padding: 10px;
    max-width: 200px;
}

.product-item img {
    width: 200px;
    height: 200px;
}

.product-image {
    text-align: center;
}

.add_to_basket a {
    background: #0f990a;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    width: 100%;
    display: block;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.basket-wrapper{
    float: left;
    margin: 10px 0 0 30px;
}
.basket-wrapper a{
    background: #0f990a;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 10px;
    display: block;
}
.single-product #content-wrap{
    width: 90% !important;
}
.post-description{
    float: right;
    width: 50%;
}
.post-details{
    float: left;
    width: 40%;
}
.clearfix{
    height: 0;
    clear: both;
}
.download_link{
    text-align: center;
    background: #ccc;
    padding: 10px;
}
.menu-top-bar-menu-container{
    float: right;
    height: 60px;
}
#menu-top-bar-menu{
    padding: 0;
    margin: 0;
}
#store-slider{
    margin-top:50px;
}
#menu-top-bar-menu > li{
    float: right;
    position: relative;
}
#menu-top-bar-menu li a{
    display: block;
    text-decoration: none;
    color: #1a1a1a;
    height: 60px;
    line-height: 50px;
    padding: 0 10px;

}
#menu-top-bar-menu li > ul {
    display: none;
    background: #FFFFFF;
    padding: 10px;
    position: absolute;
    min-width: 300px;
    top:65px;
    z-index: 10000;
}
#menu-top-bar-menu li:hover > ul
{
    display: block;
}

/*Start Store*/
.order_address 
{
    width: 100%;
    background: #ffffff;
    padding: 20px;
}
.order_address ul{
    padding: 0;
    margin: 0;
}
.order_address ul li{
    margin: 20px 0;
}
.itemContent{
    display: none;
}
/*End Store*/
.box{
    margin: 50px 0;
    background: #ffffff;
    padding: 20px;
}